@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ----------------- Class CSS ----------------- */

.about{
    width:400px;
    margin: 0px auto;
}

.about-team, .procedure-text{
    color:#15616D;
}

.authors{
    background-color:#f2ede5;
}

.navbar{
    color:#FFECD1;
    background-color:#083a41;
}

.nav-link{
    color:#FFECD1;
}

.body{
    background-color: #15616D;
}

.footer{
    background-color:#083a41;
    color:#FFECD1;
}

.icon-white{            /* Arrow icon at bottom of page */
    color: #FFECD1;
}

.nb-background-color{   /* navbar background color */
    background-color:#083a41;
}

.nbMenuItem{               /* navbar link text properties */
    font-size:25px;
    margin-left: 10px;
    margin-right: 10px;
}

.overview{
    background-color: #f2ede5;
    font-family: 'Fira Sans', sans-serif;
}

.ovPadLeft{
    padding-left: 20px;
}

.ovPadRight{  
    padding-right: 20px;
}

.procedure{
    background-color: #f2ede5;
    padding: 1px;
}

.showcase{
    background-color: #f2ede5; /*#0096c7*/
}

.method{
    width:250px;
    height:250px;
    align-content: center;
}

.table{
    color: #15616D;
    border-style: solid;
    border-width: medium;
    border-color:#15616d73;
}

.table-second{
    background-color: #cfc1ac;
}

.table-main{
    background-color: #15616d73;
    color:#15616D;
}

.ovPadLeft{
    color:#083a41;
}

.card-margin{
    margin-bottom: 25px;
}


.accordion{
    --bs-accordion-bg: #f2ede5;
    --bs-accordion-color: #685c4a;
    --bs-accordion-btn-color: #15616D;
    --bs-accordion-border-color: #f2ede5;
    --bs-accordion-active-bg: #c1af94;
    --bs-accordion-active-color: #f2ede5;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-font-size: 100px;
    font-family: 'Fira Sans', sans-serif;
    font-size:15px;
    
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
    transition: all 0.5s;
  }

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
}

.icon-link{
    width: 65px;
}
/* ----------------- ID CSS ----------------- */

#title{
    font-size: 25px;
    color:#083a41;
}

#info, ul{
    color:#685c4a;
}

ul{
    font-family: 'Fira Sans', sans-serif;
    font-size:18px;
    font-weight: 300;
}

#icon{
    width: 65px;
    border: none;
    transition: all 0.75s ease 50ms;
}

#step1{
    font-size: 50px;
}

/* -----------------Underline Animation CSS -----------------*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #f2ede5;
}

#icon:hover{
    transform: rotate(0.5turn);
}

.header-box:hover{
    background-color:#15616dc8;
    mix-blend-mode: multiply;
    background-size: 1500px;
    background-position: center;
}
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(215, 207, 207);
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}

/* ----------------- Other ----------------- */

hr{
    border: none;
    height: 10px;
    background-color: #15616D; 
}

td, th{
    border-style: solid;
    border-width: medium;
    border-color:#15616d73;
}

img{
    border-style: solid;
    border-width: thick;
    border-color: #ffffff85
}


header{
    background-image: url(img/planaria-img.jpg);
    background-size: 1100px;
    background-position: center;
    height:250px;
    color:#cfc1ac;
}

.header-box{
    background-size: 1200px;
    background-position: center;
    height:250px;
    width: 100%;
    background-color: #083a4146;
    mix-blend-mode: multiply;
    /*-webkit-transition: background-image 0.2s ease-in-out 1s 250ms;*/
    transition: background-color 1s ease 50ms;
    padding: 75px;
}
