@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ----------------- Class CSS ----------------- */

.about{
    width:400px;
    margin: auto;
}

.about-team{
    color:#15616D;
}

.authors{
    background-color:#f2ede5;
}

.navbar{
    background-color: #001524;
    color:#FFECD1;
}

.body{
    background-color: #15616D;
}

.footer{
    background-color: #001524;
    color:#FFECD1;
}

.icon-white{            /* Arrow icon at bottom of page */
    color: #FFECD1;
}

.nb-background-color{   /* navbar background color */
    background-color:#15616D;
}

.nbMenuItem{               /* navbar link text properties */
    font-size:25px;
    margin-left: 10px;
    margin-right: 10px;
}

.overview{
    background-color: #f2ede5;
    font-family: 'Fira Sans', sans-serif;
}

.ovPadLeft{
    padding-left: 20px;
}

.ovPadRight{  
    padding-right: 20px;
}

.procedure{
    background-color: #f2ede5;
    padding: 1px;
}

.showcase{
    background-color: #f2ede5; /*#0096c7*/
}

.method{
    width:250px;
    height:250px;
    align-content: center;
}

.table{
    color: #15616D;
    border-style: solid;
    border-width: medium;
    border-color:#15616d73;
}

.table-second{
    background-color: #cfc1ac;
}

.table-main{
    background-color: #15616d73;
    color:#15616D;
}

.display-4, .ovPadLeft{
    color:#001524;
}

.header-box{
    background-color:#ffffff85;
}

/* ----------------- ID CSS ----------------- */
#finalTest{
    width: 175px;
}

#title{
    font-size: 25px;
    color:#685c4a;
}

#info{
    color:#685c4a;
}

/* -----------------Underline Animation CSS -----------------*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(215, 207, 207);
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}

/* ----------------- Other ----------------- */

hr{
    border: none;
    height: 10px;
    background-color: #15616D; 
}

td, th{
    border-style: solid;
    border-width: medium;
    border-color:#15616d73;
}

img{
    border-style: solid;
    border-width: thick;
    border-color: #ffffff85
}

header{
    background-image: url(img/planaria-img.jpg);
    background-size: 1100px;
    background-position: center;
    height:250px;
    padding: 25px;
}